<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title><%= title %></title>
 </head>
 <body>
  <div class='wrapper'> 
   <h1><%= title %></h1>
   <div class='menu'><% alcoholList.forEach(function(alcohol){ %>
    <p class='menu-item'> <%= alcohol %> </p>
  <% }) %></div>
  <div class='table'>
   <div class ='col1'>
    <h2>Name</h2>
  <% cocktails.filter((cocktail) => cocktail.contains.join(' ,').includes(type)).forEach(function(cocktail){ %>
     <p class='name'> 
       <%= cocktail.name %> <% if (!cocktail.isAlcoholic) {%><%= noAlcohol %><% } %>
     </br>
       <%= cocktail.contains.join(', ') %>  
     </p>
   <% }) %>
   </div>
   <div class='col2'>
    <h2>Price</h2>
    <% cocktails.filter((cocktail) => cocktail.contains.join(' ,').includes(type)).forEach(function(cocktail){ %>
     <p class='price'> <%= cocktail.price %> </p>
   <% }) %>
   </div>
   </div>
 </div>
 </body>
</html>