<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title><%= title %></title>
 </head>
 <body>
  <div class='wrapper'> 
   <h1>
     <%= title %>
    </h1>
   <div class='menu'>
     <% for (let alcohol of alcoholList) { %>
    <p class='menu-item'>
      <%= alcohol %>
    </p>
    <% } %>
</div>

  <table class='table'>
  <thead>
    <tr>
      <th>
        name
      </th>
      <th>
        price
      </th>
    </tr>
  </thead>

  <tbody>
  <% for (let cocktail of cocktails) { %>
    <tr>
      <td>
        <div class='cocktail-name'>
          <%= cocktail.name %>
        </div>
        <div class='cocktail-ingredients'>
          <%= cocktail.contains.join(', ') %> <% if (!cocktail.isAlcoholic) {%><%= noAlcohol %><% } %>
        </div>
      </td>
      <td>
        <%= cocktail.price %> Ft
      </td>
    </tr>
    <% } %>
  </tbody>
  </table>
 </div>
 </body>
</html>