<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title><%= title %></title>
 </head>
 <body>
  <div class='wrapper'>
   <h1>
     <%= title %>
    </h1>
  <%- include('menu.ejs') %>

  <table class='table'>


  <tbody>
  <% for (let cocktail of cocktails) { %>
    <tr>
      <td>
        <div class='cocktail-name'>
          <%= cocktail.name %>
        </div>
        <div class='cocktail-ingredients'>
          <%= cocktail.contains.join(', ') %> <% if (!cocktail.isAlcoholic) {%><%= noAlcohol %><% } %>
        </div>
      </td>
      <td>
        <div class='cocktail-price'>
          <%= cocktail.price %> Ft
        </div>
      </td>
    </tr>
    <% } %>
  </tbody>
  </table>
 </div>
 <script src="/static/index.js"></script>
 </body>
</html>
