<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>Sunset Gallery</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css">

 </head>
 <body>
  <div class="main">
    <button class="leftButton">
      <div class="leftArrow">
       <img src="../static/arrow.svg">
      </div>
      </button>
   <img class="mainImg"
        id="mainImg"
        src="<%= imgFolder + imgs[imgIndex].src %>"
        alt="<%= imgs[imgIndex].name %>"
        data-next-path="<%= imgs[nextImageIndex].src %>"
        data-previous-path=""
   />
   <button class="rightButton" id="rightButton">
    <div class="rightArrow">
     <img src="../static/arrow.svg">
    </div>
    </button>
   <div class="imgCaption">
     <caption>
       <%= imgs[imgIndex].caption %>
      </caption>
    </div>
  </div>

  <div class="thumb">
   <% for (let img of imgs) { %>
    <a href="/?src=<%= img.src %>">
    <img class="thumbImg" src="<%= imgFolder + img.src %>" alt="<%= img.caption %>">
    </a>
    <% } %>
  </div>
  <script src="../static/index.js"></script>
 </body>
</html>
